<h2>Can I at least get here???</h2>
<h3>@Model.GetFirstName()&nbsp;@Model.GetLastName()</h3>
<p>@Model.GetAddress1()</p>
<p>@Model.GetAddress2()</p>
<p>@Model.GetCity(),&nbsp;@Model.GetStateOrProvince()&nbsp;&nbsp;@Model.GetPostalCode()</p>
<p>@Model.GetCountry()</p>
<p>@Model.GetPhone()</p>

<p><a href='/'>Go Back</a></p>
